html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ede9e8;
}
header{
    margin: 0%;
    padding: 0;
    width: 100%;
    
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    margin-right: 10px;
   text-decoration-color: white;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: top 30px;
    padding-bottom: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
   
}
.Signup{
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: #23A6F0;
}
.button1{
    background-color: #23A6F0;
    padding: 10px;
    border: 0px;
    border-radius: 25px;
}
.button2{
    background-color: transparent;
    background-repeat: no-repeat;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #f03b23;
}
.header{
    background-image:url("images/img1.png");
    height: 900px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
    
}
.background_image{
    color: #252B42;
    opacity: 0.9;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 600px) {
    html {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        align-content: space-between;
        justify-content: space-between;

    }
}
.brand_name{
    font-size: 18px;
}
.nav-bar-right{
   float: right;
    text-align: center;
    font-size: 12px;
}
.text {
    justify-items: center;
    color: white;
    display: flex;
    text-align: center;
    margin-top: 20%;
    margin-left: 15%;
    font-size: 25px;
    text-indent: 10px;
}
.text h2{
    font-size: 30px;
 
}
.objectives1{
    height: 400px;
    text-align: center;
    display: flex;
    padding: 50px;
    margin-top: -15%;

}
.objective_list1_1{
    float: left;
    width: 25%;
   padding: 20px;
    height: 230px;
    margin-right: 3%;
    box-sizing: border-box;
    margin-top: 60px;
    background-color: white;
}
.objective_list1_2{
    float: left;
    width: 25%;
    padding: 20px;
    height: 230px;
    margin-right: 3%;
    box-sizing: border-box;
    margin-top: 60px;
    background-color: white;
}
.objective_list1_3{
    float: left;
    width: 25%;
    padding: 20px;
    height: 230px;
    margin-right: 3%;
    box-sizing: border-box;
    margin-top: 60px;
    background-color: #23A6F0;
    color: white;
}




.Objectives2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;

}
.industry{
    margin-left: 25%;
    height: 400px;
    margin-top: 15%;
    text-align: center;
   }
.review-header{
   align-items: center;

}

.review-box{

    display: flex;
    justify-content: center;
    padding-top: 10%;
}
.review-header >p{
    text-align: center;
}
.reviewer1 ,.reviewer2 ,.reviewer3{
border-style: solid;
justify-content: space-around;
border-color: darkgray;
padding-right: 5%;
padding: 10%;
}
.reviewer1{
    padding: 50px;
    padding-left: 3%;
    border-radius: 5%;
    padding-right: 3%;
    margin: 20px;
    background-color: white;
   
   
}
.reviewer2{
    padding: 50px;
    padding-left: 3%;
    border-radius: 5%;
    padding-right: 3%;
    margin: 20px;
    background-color: white;
   
   
}
.reviewer3{
    padding: 50px;
    padding-left: 3%;
    border-radius: 5%;
    padding-right: 3%;
    background-color: white;
    margin: 25px;
   
   
}
.logos span{
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    align-items: center;
    padding-top: 8px;
    margin-top: 35%;
    justify-content: center;
    margin-left: 10%;


}

.logos ul li{
    width: 20px;
}
.subscribe{
    text-align: center;
    margin-top: 3%;
}
.pricing{   
    justify-content: center;
}

.container_pricing_flex{
    text-align: center;
    list-style: none;

}
.container_pricing_flex .Free .standard .premium ul li{
    text-align: center;
    list-style-type: none;
}

.objective_list1{
    text-align: center;
    color: black;

}
.objective_list2{
    text-align: center;
    color: black;

}
.fa-star-o{
    color: yellow;
}

.pricing-header{
    margin-top: 10%;
    text-align: center;

}
.container_pricing_flex{        
    display: flex;
    margin-top: 50px;
    text-align: center;
    margin-left: 20%;  

}
       
    
.Free, .standard, .premium{
    align-items: center;
    border-style: solid;
    width: 300px;
    height: 550px;
    margin: 20px;
    padding: 20px;
    font-size: 20px;

}
.standard{
    background-color: #252B42;
    color: white;
}
.container_pricing_flex button{
    background-color:#23A6F0 ;
    color: white;
    width: 280px;
    height: 45px;
}

.objective_list3{
    text-align: center;
    color: black;

}

.review-box{
    display: flex;
    flex-direction: row;
  
}

.Branches{
    background-color: #252B42;
    position: relative;
    top: 400px;
    margin-top: 50px;
    color: white;
    height: 550px; 
}
.Branches_header{

    margin-left: 5%;
    margin-top: 15%;
}

.Branches img{
    float: right;
    margin-bottom: 50px;
    position: absolute;
    margin-top: -10%;
    margin-left: 35%;
    width: 30%;
}

.Appointments{
    display: flex;
    margin-top: 20%;
    margin-left: 25%;
    height: 500px;
    width: 550px;
    background-color: white;
    
}
.Appointments img{
    height: 500px;
    
}
.Appointments button{
    background-color: #23A6F0;
    height: 25px;
    color: white;
}
.Appointments form{
    margin-top: 20%;
}

.Last{
    display: flex;
    margin-top: 5%;
    margin-left: 25%;
}

.Last button{
   margin-left: 30%;
   background-color: #23A6F0;
   color: white;
   height: 40px;
}

.Footer{
   margin-bottom: 150px;
   padding: 25px;
   height: 500px;
}
 .upper_footer{
    background-color: white;
    position: relative;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin: 50px;
    margin-bottom: 20%;
    height: 300px;
 }  


.upper_footer li{
    list-style-type: none;
    justify-content: center;
    

}

.lower_footer{
      margin-bottom: 20px;
    margin-left: 20%;
    display: flex;
    align-items: center;
  

}
.right_lower_footer{
    margin-right: 15%;
    margin-top: 0px;
    margin-left: 40%;
}

.Last .contact_us> a{
    text-decoration: none;
    color: white;
}

.Last .contact_us{
    float: right;
    margin-right: 20%;
    background-color: #23A6F0;
    padding: 15px;
    border-radius: 2.5px;
  
}

