html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin: 0%;
    padding: 0;
    width: 100%;
    
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    margin-right: 10px;
   text-decoration-color: white;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: top 30px;
    padding-bottom: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
   
}
.Signup{
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: #007fff;
}
.button1{
    background-color: #007fff;
    padding: 10px;
    border: 0px;
    border-radius: 25px;
}
.button2{
    background-color: transparent;
    background-repeat: no-repeat;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
}
a{
    text-decoration: none;
    color: #f8f9ff;
}

a:hover{
    color: #f03b23;
}
.head{
    background-image:url("./images/img1.png");
    
}
.background_image{
    background-position: center;
    position: relative;
    height: 720px;
    color: #252B42;
    opacity: 0.9;
}
.brand_name{
    font-size: 18px;
}
.nav-bar-right{
   float: right;
    text-align: center;
    font-size: 12px;
}
.text {
    justify-items: center;
    color: white;
}
.text h2{
    font-size: 18px;
 
}

.container_Objectives{
    display: flex;
    flex-direction: row;
    margin-inline-end: 62%;
    justify-items: center;

}
.logos ul{
    display: inline-block;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;

}
.logos_2 span{
    display: inline-block;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;

}
ul li{
    width: 20px;
}

.objective_list1{
    text-align: center;
    color: black;

}
.objective_list2{
    text-align: center;
    color: black;

}
.objective_list3{
    text-align: center;
    color: black;

}

.review-box{
    display: flex;
    flex-direction: row;
  
}
